*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
}

.nav-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}

.nav-info a img{
    width: 70px;
    height: 45px;
}

.nav-button a{
    background: none;
    color: black;
    border: none;
    font-size: 15px;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
}

.nav-button a:hover{
    background-color: #999;
    color: black;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.nav-content button{
    background: none;
    color: black;
    border: none;
    font-size: 15px;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.nav-content button:hover{
    background-color: #999;
    color: black;
}

.nav-content i{
    font-size: 17px;
    padding: 5px;
    border-radius: 30px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.nav-content i:hover{
    background-color: #999;
    color: black;
}

.second-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 69px;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: white;
}

.second-nav-button a{
    background: none;
    color: black;
    border: none;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.second-nav-button a:hover{
    border-bottom: solid 3px #585858;
}

#image-section{
    width: 1270px;
    border-radius: 30px;
    margin: 0 40px;
    margin-top: 200px;
}

.top-sellings-this-week{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.top-sellings{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sellings{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.sellings img{
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.warm-welcome-sale{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    gap: 30px;
}

.welcome-sale img{
    border-radius: 20px;
}



.get-new-updates{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    gap: 150px;
    margin: 100px 0;
}

.get-new-updates p{
    color: #585858;
}

#mail-form{
    border-radius: 15px;
    padding: 20px 300px;
    border: 1px solid #999;
}

.mail-form button{
    color: #585858;
    border-radius: 40px;
    border: 2px solid #585858;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    margin-left: 20px;
}

.get-new-update{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.get-new-update p{
    font-size: 14px;
}

.get-new-update p a{
    color: #0064e0;
}

.footer-info img{
    width: 95px;
    height: 65px;
}

.footer-info{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-socials{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.section-one{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 100px;
}

.footer-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.footer-content{
    width: 200px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-content p{
    font-weight: bold;
}

.footer-content a{
    text-decoration: none;
    color: #585858;
}

.about-footer{
    padding: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    flex-direction: row;
    font-size: 13px;
}

.usa a{
    font-size: 15px;
    color: #585858;  
}

.meta-quest{
    width: 800px;
    color: #585858;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.meta-quest a{
    color: #0064e0;
}

@media screen {
    
}