*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    height: 100%
}

#header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

nav {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.nav-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}

.nav-info a img{
    width: 70px;
    height: 45px;
}

.nav-button a{
    background: none;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
}

.nav-button a:hover{
    background-color: #999;
    color: black;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.nav-content button{
    background: none;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.nav-content button:hover{
    background-color: #999;
    color: black;
}

.nav-content i{
    font-size: 17px;
    padding: 5px;
    border-radius: 30px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.nav-content i:hover{
    background-color: #999;
    color: black;
}

.header-content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

.header-info h1{
    color: white;
    font-size: 65px;
    font-weight: 500;
    margin-top: 300px;
}

.header-info p{
    color: white;
    font-size: 20px;
    margin: 10px;
}

.header-button{
    margin: 50px 0;
    padding-bottom: 50px;
    display: flex;
    align-self: center;    
    gap: 20px;
}

#shop{
    color: white;
    border-radius: 40px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    background-color: #0064e0;
    transition: all 0.5s ease;
}

#shop:hover{
    background-color: #0049a3;
}

#learn-more{
    color: black;
    border-radius: 40px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    background-color: #333;
    transition: all 0.5s ease;
}

#learn-more:hover{
    background-color: #6d6d6d;
}

.meta-quest-s3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 40px 90px;
}

#video-section{
    width: 1350px;
    margin-top: 60px;
}

.ai-glasses-blend{
    text-align: center;
    font-size: 30px;
    color: #1c2b33;
    font-weight: lighter;
    padding: 60px 0;
    margin-top: 50px;
}

.ai-glasses-blend p{
    font-size: 20px;
    margin: 20px 0;
}

.ai-glasses-blend span{
    color: #0064e0;
    font-size: 40px;
}

#image-section{
    width: 1270px;
    border-radius: 30px;
    margin: 0 40px;
}

#compare-more-details{
    color: #0064e0;
    border-radius: 40px;
    border: solid 2px #585858;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    margin: 0 560px;
}

#compare-more-details:hover{
    border: solid 2px #0049a3;
}

.free-delivery-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    margin: 40px;
}

.unreal-device{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 2px #585858;
    border-radius: 30px;
    padding: 40px;
    text-align: center;
    gap: 20px;
    width: 650px;
    height: 600px;
}

.high-definition{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.unreal-device p{
    color: #585858;
}

.designed-content-section-one{
    background-image: url(./metaimages.videos/batman.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    border-radius: 30px;
    width: 1280px;
    height: 600px;
    position: relative;
    margin: 40px;
}

.section-content{
    position: absolute;
    bottom: 50px;
    left: 300px;
    justify-items: center;
}

.section-content p{
    font-size: 20px;
}

.section-content h2{
    font-size: 50px;
}

#watch-trailer{
    color: #ffffff;
    border-radius: 40px;
    border: solid 2px #585858;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    background-color: #333;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#watch-trailer:hover{
    color: #0064e0;
}

.find-local-demo{
    background-image: url(./metaimages.videos/find\ a\ local\ demo.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    border-radius: 30px;
    width: 1280px;
    height: 600px;
    position: relative;
    margin: 40px;
}

.parental-protection{
    display: flex; 
    justify-content: space-between; 
    margin: 40px; 
    align-items: center; 
    color: #555555;
}

.parental-control{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 620px;
}

#parental-button{
    color: #ffffff;
    border-radius: 40px;
    border: solid 2px #585858;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    background-color: #333;
    transition: all 0.5s ease;
}

#parental-button:hover{
    color: #0064e0;
}

.faq{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 100px;
    font-weight: bold;
    font-size: 20px;
}

.meta-horizons{
    margin: 80px 0;
    text-align: center;
}

.meta-horizons h2{
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 40px;
}

.meta-horizon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.horizons{
    background-color: rgb(240, 240, 240);
    border-radius: 40px;
    height: 330px;
    width: 400px;
    position: relative;
}

.horizons img, #meta-h3{
    position: absolute;
}

.horizons img{
    height: 150px;
    width: 250px;
    top: 20px;
    right: 80px;
}

.horizons h3{
    top: 180px;
    left: 70px;
}

.horizons p{
    position: absolute;
    top: 210px;
    left: 70px;
    color: #585858;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
}

.horizons a{
    text-decoration: none;
    top: 180px;
    left: 70px;
}

#meta-horizon-button{
    position: absolute;
    color: #0064e0;
    border-radius: 40px;
    border: solid 2px #585858;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    transition: all 0.5s ease;
    top: 260px;
}

#meta-horizon-button:hover{
    border: solid 2px #0049a3;
}

.get-new-updates{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    gap: 150px;
    margin: 100px 0;
}

.get-new-updates p{
    color: #585858;
}

#mail-form{
    border-radius: 15px;
    padding: 20px 300px;
    border: 1px solid #999;
}

.mail-form button{
    color: #585858;
    border-radius: 40px;
    border: 2px solid #585858;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    margin-left: 20px;
}

.get-new-update{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.get-new-update p{
    font-size: 14px;
}

.get-new-update p a{
    color: #0064e0;
}

.footer-info img{
    width: 95px;
    height: 65px;
}

.footer-info{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-socials{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.section-one{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 100px;
}

.footer-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.footer-content{
    width: 200px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-content p{
    font-weight: bold;
}

.footer-content a{
    text-decoration: none;
    color: #585858;
}

.about-footer{
    padding: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    flex-direction: row;
    font-size: 13px;
}

.usa a{
    font-size: 15px;
    color: #585858;  
}

.meta-quest{
    width: 800px;
    color: #585858;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.meta-quest a{
    color: #0064e0;
}